/*STYLING:*/

/* Set all font family to "VCR OSD Mono". */

@font-face {
  font-family: VCR OSD Mono;
  src: url(../Asset/Font/VCR_OSD_MONO_1.001.ttf);
}

* {
  font-family: "VCR OSD Mono";
}

/* Set background image from url and set it to fit the screen. */

body {
  background-image: url("../images/WebBG.jpeg");
  background-color: #d6d4cf;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

/* Set every image properties that is not in body header. */

img:not(body header) {
  height: 300px;
}

/* Set image properties in Homepage-navbar. */

.Homepage-navbar img {
  height: 80px;
  float: left;
}

/* Set image properties in Login-navbar. */

.Login-navbar img {
  height: 40px;
  float: right;
  padding: 20px 0;
  margin-bottom: 10px;
}

/* Set .img-top class properties in Login-navbar to disappear. */

.Login-navbar .img-top {
  display: none;
  position: absolute;
  float: right;
  padding: 20px 0;
  top: 8px;
  right: 98px;
  z-index: 99;
}

/* Set .img-top class properties in Login-navbar to appear when hover. */

.Login-navbar:hover .img-top {
  display: inline;
}

/* Set User email properties in .User-email */

.User-email {
  float: right;
  position: absolute;
  top: 25px;
  right: 98px;
  z-index: 99;
}

/* Set image properties in Register-navbar and Logout-navbar. */

.Register-navbar img,
.Logout-navbar img {
  height: 40px;
  float: right;
  padding: 20px 0;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* Set .img-top class properties in Register-navbar and Logout-navbar to disappear. */

.Register-navbar .img-top,
.Logout-navbar .img-top {
  display: none;
  position: absolute;
  float: right;
  padding: 20px 0;
  top: 8px;
  right: 8px;
  z-index: 99;
}

/* Set .img-top class properties in Register-navbar and Logout-navbar to appear when hover. */

.Register-navbar:hover .img-top,
.Logout-navbar:hover .img-top {
  display: inline;
}

/* Set Menu-navbar properties. */

.Menu-navbar {
  background-color: #a49d91;
  clear: both;
  margin-bottom: 10px;
  height: 40px;
}

/* Set image properties in Menu-navbar. */

.Menu-navbar img {
  height: 30px;
  float: left;
  padding: 5px;
}

/* Set text article properties. */

article {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 25px;
  text-align: center;
}

/* Set group of image and text under image properties in .All-member-images class. */

.All-member-images figure {
  float: left;
}

/* Set image properties in .All-member-images class. */

.All-member-images img {
  max-height: 300px;
  width: 100%;
  height: auto;
  min-height: 100px;
}

/* Set text figcaption tag properties in .All-member-images class. */

.All-member-images figcaption {
  margin: 10px;
}

/* Set the whole group of class to be on the center the page.*/

.All-member-images {
  display: flex;
  justify-content: center;
}
