/*STYLING:*/
@font-face {
    font-family: "VCR OSD Mono";
    src: url("../Asset/Font/VCR_OSD_MONO_1.001.ttf");
}
*{
    font-family: "VCR OSD Mono";
}

body{
    background-image: url('../images/WebBG.jpeg');
    background-size: cover;
}

.Homepage-navbar img{
    height: 80px;
}
.Menu-navbar{
    padding-left: 20px;
}

h1{
    text-align: center;
}

form{
    color: #4d483e;
    line-height: 25px;
    background-color: #c6c0b6;
    margin: 20px;
}