/*STYLING:*/

@font-face {
    font-family: "VCR OSD Mono";
    src: url("../Asset/Font/VCR_OSD_MONO_1.001.ttf");
}

* {
    font-family: "VCR OSD Mono";
}

body {
    background-image: url('../images/WebBG.jpeg');
    background-size: cover;
}

p {
    font-size: 12pt;
}

.Homepage-navbar img {
    height: 80px;
    float: left;
}

.Menu-navbar {
    background-color: #a49d91;
    clear: both;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 40px;
}

.Menu-navbar img {
    height: 30px;
    float: left;
    padding: 5px;
}

h1 {
    text-align: center;
}

form {
    color: #4d483e;
    line-height: 25px;
    background-color: #c6c0b6;
    margin: 20px;
}