/*STYLING:*/


/* Set all font family to "VCR OSD Mono". */

@font-face {
    font-family: VCR OSD Mono;
    src: url(../Asset/Font/VCR_OSD_MONO_1.001.ttf);
}

* {
    font-family: "VCR OSD Mono";
}


/* Set background image from url and set it to fit the screen. */

body {
    background-image: url("../images/WebBG.jpeg");
    background-size: cover;
}


/* Set font size of every text. */

p {
    font-size: 12pt;
}


/* Set image properties in Homepage-navbar. */

.Homepage-navbar img {
    height: 80px;
    float: left;
}


/* Set Menu-navbar properties. */

.Menu-navbar {
    background-color: #a49d91;
    clear: both;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 40px;
}


/* Set image properties in Menu-navbar. */

.Menu-navbar img {
    height: 30px;
    float: left;
    padding: 5px;
}


/* Set h1 header text properties to stay in the center of the screen. */

h1 {
    text-align: center;
}


/* Set form properties. */

form {
    color: #4d483e;
    line-height: 25px;
    background-color: #c6c0b6;
    margin: 20px;
}


/* Set link navbar that link to register page. */

.Register-navbar {
    margin-left: 20px;
}