/*STYLING:*/


/* Set all font family to "VCR OSD Mono". */

@font-face {
    font-family: VCR OSD Mono;
    src: url(../Asset/Font/VCR_OSD_MONO_1.001.ttf);
}

* {
    font-family: "VCR OSD Mono";
}


/* Fixed sidenav, full height */

.sidenav {
    float: left;
    width: 180px;
    background-color: #413d34;
    overflow-x: hidden;
    padding-top: 20px;
}


/* Style the sidenav links and the dropdown button */

.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #f1f1f1;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


/* On mouse-over */

.sidenav a:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
}


/* Main content */

.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}


/* Add an active class to the active dropdown button */

.active {
    background-color: #e2b244;
    color: white;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: none;
    background-color: #b0afae;
    padding-left: 8px;
}


/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}


/* Some media queries for responsiveness */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* Set all font family to "VCR OSD Mono". */

* {
    font-family: "VCR OSD Mono";
}


/* Set background image from url and set it to fit the screen. */

body {
    background-image: url("../images/WebBG.jpeg");
    background-size: cover;
}


/* Set every image properties that is not in body header. */

img:not(.Logo-navbar) {
    height: 150px;
}


/* Set image properties in Homepage-navbar. */

.Homepage-navbar img {
    float: left;
    height: 80px;
}


/* Set image properties in Login-navbar. */

.Login-navbar img {
    height: 40px;
    float: right;
    padding: 20px 0;
    margin-bottom: 10px;
}


/* Set .img-top class properties in Login-navbar to disappear. */

.Login-navbar .img-top {
    display: none;
    position: absolute;
    float: right;
    padding: 20px 0;
    top: 8px;
    right: 98px;
    z-index: 99;
}


/* Set .img-top class properties in Login-navbar to appear when hover. */

.Login-navbar:hover .img-top {
    display: inline;
}


/* Set image properties in Register-navbar. */

.Register-navbar img {
    height: 40px;
    float: right;
    padding: 20px 0;
    margin-bottom: 10px;
    margin-left: 10px;
}


/* Set .img-top class properties in Login-navbar to disappear. */

.Register-navbar .img-top {
    display: none;
    position: absolute;
    float: right;
    padding: 20px 0;
    top: 8px;
    right: 8px;
    z-index: 99;
}


/* Set .img-top class properties in Login-navbar to appear when hover. */

.Register-navbar:hover .img-top {
    display: inline;
}


/* Set Menu-navbar properties. */

.Menu-navbar {
    background-color: #a49d91;
    clear: both;
    margin-bottom: 10px;
    height: 40px;
}


/* Set image properties in Menu-navbar. */

.Menu-navbar img {
    height: 30px;
    float: left;
    padding: 5px;
}


/* Set h1 in header properties. */

header h1 {
    float: left;
    font-size: larger;
    padding-top: 15px;
}


/* Set text article properties. */

article {
    float: left;
}