/*STYLING:*/

/* Set all font family to "VCR OSD Mono". */

@font-face {
    font-family: VCR OSD Mono;
    src: url(../Asset/Font/VCR_OSD_MONO_1.001.ttf);
  }
  
  /* Set all font family to "VCR OSD Mono". */
  
  * {
    font-family: "VCR OSD Mono";
  }
  
  /* Fixed sidenav, full height */
  
  .sidenav {
    float: left;
    width: 220px;
    background-color: #413d34;
    overflow-x: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  /* Style the sidenav links and the dropdown button */
  
  .dropdown-btn,
  .dropdown-container {
    padding: 5px 10px 5px 15px;
    text-decoration: none;
    font-size: 14px;
    color: #f1f1f1;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* Set the properties in search_bar. */
  
  .search_bar {
    margin-bottom: 15px;
    margin-left: 15px;
  }
  
  /* The container */
  
  .container {
    color: #f1f1f1;
    display: block;
    position: relative;
    padding-top: 15px;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  
  .checkmark {
    position: absolute;
    top: 10px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a  background color */
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a  background */
  
  .container input:checked ~ .checkmark {
    background-color: #e2b244;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  /* Main content */
  
  .main {
    margin-left: 220px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  
  .active {
    background-color: #e2b244;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  
  .dropdown-container {
    display: none;
    background-color: #b0afae;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Set background image from url and set it to fit the screen. */
  
  body {
    background-image: url("../images/WebBG.jpeg");
    background-size: cover;
  }
  
  /* Set every image properties that is not in body header. */
  
  img:not(.Logo-navbar) {
    margin-bottom: 10px;
    height: 150px;
    /* File image size is 270 px * 150 px */
  }
  
  /* Set image properties in Homepage-navbar. */
  
  .Homepage-navbar img {
    float: left;
    height: 80px;
  }
  
  /* Set image properties in Login-navbar. */
  
  .Login-navbar img {
    height: 40px;
    float: right;
    padding: 20px 0;
    margin-bottom: 10px;
  }
  
  /* Set .img-top class properties in Login-navbar to disappear. */
  
  .Login-navbar .img-top {
    display: none;
    position: absolute;
    float: right;
    padding: 20px 0;
    top: 8px;
    right: 98px;
    z-index: 99;
  }
  
  /* Set .img-top class properties in Login-navbar to appear when hover. */
  
  .Login-navbar:hover .img-top {
    display: inline;
  }
  
  /* Set User email properties in .User-email */
  
  .User-email {
    float: right;
    position: absolute;
    top: 25px;
    right: 98px;
    z-index: 99;
  }
  
  /* Set image properties in Register-navbar and Logout-navbar. */
  
  .Register-navbar img,
  .Logout-navbar img {
    height: 40px;
    float: right;
    padding: 20px 0;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  /* Set .img-top class properties in Register-navbar and Logout-navbar to disappear. */
  
  .Register-navbar .img-top,
  .Logout-navbar .img-top {
    display: none;
    position: absolute;
    float: right;
    padding: 20px 0;
    top: 8px;
    right: 8px;
    z-index: 99;
  }
  
  /* Set .img-top class properties in Register-navbar and Logout-navbar to appear when hover. */
  
  .Register-navbar:hover .img-top,
  .Logout-navbar:hover .img-top {
    display: inline;
  }
  
  /* Set Menu-navbar properties. */
  
  .Menu-navbar {
    background-color: #a49d91;
    clear: both;
    margin-bottom: 10px;
    height: 40px;
  }
  
  /* Set image properties in Menu-navbar. */
  
  .Menu-navbar img {
    height: 30px;
    float: left;
    padding: 5px;
  }
  
  /* Set text article properties. */
  
  article {
    float: left;
  }
  
  /* Set h2 in header properties. */
  
  h2 {
    margin-left: 40px;
  }
  